---
import Navigation from "./Navigation.astro";
---

<header>
  <!-- kanban girl-->
  <!-- <script src="https://fastly.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script> -->
  <Navigation />
  <!-- <div id="sakana-widget" style=" position: fixed;
  bottom: 0;
  left: 0;"></div>
  <script>
  import 'sakana-widget/lib/index.css';
  import SakanaWidget from 'sakana-widget';
  new SakanaWidget().mount('#sakana-widget');
  </script> -->
</header>